Análsis superficial de Coronavirus-19
 ==========

Comienzo cargando todos los paquetes necesarios

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy 
from scipy import stats
import datetime as dt
import datetime
from datetime import timedelta  
import urllib.request  # importar archivos web
from lifelines import NelsonAalenFitter # modelamiento survival

# para tratar de poner espanol
from datetime import date, datetime, time
from babel.dates import format_date, format_datetime, format_time, format_timedelta, Locale
import locale                                    # para tratar de poner espanol
locale.setlocale(locale.LC_ALL,'es_ES.UTF-8')  

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
%matplotlib inline

# Cargo base de datos

Saco información de la base de datos de la John Hopkins Institute, https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data

Importo las bases de datos

In [2]:
confirmados = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'

muertos = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'

recuperados = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'

print ("Bajando....")
filename, headers = urllib.request.urlretrieve(confirmados, filename="./BD/confirmados.csv")
filename, headers = urllib.request.urlretrieve(muertos, filename="./BD/muertos.csv")
filename, headers = urllib.request.urlretrieve(recuperados, filename="./BD/recuperados.csv")
print ('Bajado!')

Bajando....
Bajado!

Cargo las bases de datos

In [3]:
confirmados = pd.read_csv('./BD/confirmados.csv')
muertos = pd.read_csv('./BD/muertos.csv')
recuperados = pd.read_csv('./BD/recuperados.csv')

In [4]:
# como se ve.....
# Fechas
confirmados.columns
confirmados.head()

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20'],
      dtype='object')

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,53,59,70,75,82,114,147,177,212
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,511,581,639,639,701,773,839,825,878,889
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,160,178,178,200,212,226,243,266,313
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,117,129,149,149,197,238,428,566,673,790

corrijo parte de la base de datos

In [5]:
# Arreglo las cabeceras dado que son fechas
fechas = pd.to_datetime(confirmados.columns[4:])
lugares = confirmados.columns[:4]
confirmados.columns = list(lugares) + list(fechas)

fechas = pd.to_datetime(muertos.columns[4:])
lugares = muertos.columns[:4]
muertos.columns = list(lugares) + list(fechas)

fechas = pd.to_datetime(recuperados.columns[4:])
lugares = recuperados.columns[:4]
recuperados.columns = list(lugares) + list(fechas)

In [6]:
recuperados.head()
confirmados.head()
muertos.head()

,Province/State,Country/Region,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-03-09 00:00:00,2020-03-10 00:00:00,2020-03-11 00:00:00,2020-03-12 00:00:00,2020-03-13 00:00:00,2020-03-14 00:00:00,2020-03-15 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,2,2,...,31,33,34,34,35,35,35,35,41,42
1,NaN,Japan,36.0000,138.0000,0,0,0,0,1,1,...,76,101,118,118,118,118,118,144,144,144
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,78,78,96,96,97,105,105,109,114,114
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,24,24,26,26,26,35,42,42,49,60

,Province/State,Country/Region,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-03-09 00:00:00,2020-03-10 00:00:00,2020-03-11 00:00:00,2020-03-12 00:00:00,2020-03-13 00:00:00,2020-03-14 00:00:00,2020-03-15 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,53,59,70,75,82,114,147,177,212
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,511,581,639,639,701,773,839,825,878,889
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,160,178,178,200,212,226,243,266,313
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,117,129,149,149,197,238,428,566,673,790

,Province/State,Country/Region,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-03-09 00:00:00,2020-03-10 00:00:00,2020-03-11 00:00:00,2020-03-12 00:00:00,2020-03-13 00:00:00,2020-03-14 00:00:00,2020-03-15 00:00:00,2020-03-16 00:00:00,2020-03-17 00:00:00,2020-03-18 00:00:00
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,10,10,15,16,19,22,22,27,29,29
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2

# Base de datos del MINSAL
El minsal publica una base datos en pdf..... por supuesto, el standard para sábanas de datos......

un colega transforma este pdf en un .csv
https://github.com/ivanMSC/COVID19_Chile

In [7]:
# Bajo la BD del Minsal y la guardo en un archivo
BD_minsal = 'https://raw.githubusercontent.com/ivanMSC/COVID19_Chile/master/covid19_chile.csv'

print ("Bajando....")
# filename, headers = urllib.request.urlretrieve(BD_minsal, filename="./BD/BD_minsal.csv")
print ('Bajado!')

Bajando....
Bajado!

In [8]:
minsal.head()
minsal.Fecha

NameError: name 'minsal' is not defined

In [9]:
# Ahora lo importo a este notebook
minsal = pd.read_csv('./BD/BD_minsal.csv')
# minsal.head()
minsal.Fecha
m = pd.to_datetime(minsal.Fecha, format='%d-%m-%Y')
# minsal.head()
m

0      03-03-2020
1      03-03-2020
2      04-03-2020
3      05-03-2020
4      06-03-2020
          ...
233    18-03-2020
234    18-03-2020
235    18-03-2020
236    18-03-2020
237    18-03-2020
Name: Fecha, Length: 238, dtype: object

0     2020-03-03
1     2020-03-03
2     2020-03-04
3     2020-03-05
4     2020-03-06
         ...
233   2020-03-18
234   2020-03-18
235   2020-03-18
236   2020-03-18
237   2020-03-18
Name: Fecha, Length: 238, dtype: datetime64[ns]

realizo un conteo por region y por país para poder modelar según contagiados por region. luego lo agrego a la base de datos del minsal

In [17]:
ts1_comuna = minsal.groupby('Comuna').Fecha.first()
ts1_region = minsal.groupby('Region').Fecha.first()
ts1_chile   = minsal.Fecha.sort_values()[0]

# conteo por region
for reg in minsal.Region.unique():
#     print(reg)
    conteo_region = minsal.loc[minsal.Region==reg].Fecha - ts1_region[reg]
    conteo_pais   = minsal.loc[minsal.Region==reg].Fecha - ts1_chile
    minsal.loc[minsal.index.isin(conteo_region.index), 'Conteo Region'] = conteo_region
    minsal.loc[minsal.index.isin(conteo_pais.index), 'Conteo Pais'] = conteo_pais

#conteo por comuna
for comun in minsal.Comuna.unique():
#     print(comun)
    conteo_comuna = minsal.loc[minsal.Comuna==comun].Fecha - ts1_comuna[comun]
    minsal.loc[minsal.index.isin(conteo_comuna.index), 'Conteo Comuna'] = conteo_comuna

Region
Antofagasta      14-03-2020
Araucanía        16-03-2020
Atacama          14-03-2020
Aysén            14-03-2020
Biobío           09-03-2020
Los Lagos        07-03-2020
Los Ríos         16-03-2020
Magallanes       17-03-2020
Maule            03-03-2020
Metropolitana    04-03-2020
Valparaíso       16-03-2020
Ñuble            12-03-2020
Name: Fecha, dtype: object

'16-03-2020'

array(['Maule', 'Metropolitana', 'Los Lagos', 'Biobío', 'Ñuble',
       'Antofagasta', 'Atacama', 'Aysén', 'Valparaíso', 'Araucanía',
       'Los Ríos', 'Magallanes'], dtype=object)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
minsal

## Variables constante

In [ ]:
fechas = pd.to_datetime(confirmados.columns[4:])
paises_LA = list(['Argentina', 'Chile', 'Peru', 'Venezuela',
                  'Brazil', 'Mexico', 'Ecuador', 'Colombia',
                  'Bolivia', 'Cuba', 'Uruguay', 'Guatemala',
                  ])
paises_LA
# confirmados['Country/Region'].unique()

# Cantidad de Casos en países de interes

## Chile

In [ ]:
paises = list(['Chile'
                  ])

In [ ]:
PAIS_Interes = confirmados.loc[
    confirmados['Country/Region'].isin(paises)].set_index('Country/Region')[fechas].T.copy()

dumm = PAIS_Interes

# fecha de interés
f_fin = dt.datetime.now()
f_inicio = dt.datetime(2020,2,27)


# Formato
dumm.plot(figsize=(6,7))
plt.legend(loc='upper left')
plt.title('Casos confirmados Coronavirus-19')
plt.xlabel('Fecha')
plt.ylabel('Cantidad de casos')
plt.text(f_inicio, 1, 'Dr Egidio Céspedes \nSAMU Viña del Mar',
         fontsize=10,color='gray', alpha=0.5)

plt.xlim(f_inicio, f_fin)


# escala logaritmica
plt.yscale('log')
plt.ylabel('Cantidad de casos en log')

## Vecinos

In [ ]:
paises = list(['Argentina', 'Chile', 'Peru', 'Venezuela',
                  'Ecuador', 'Colombia', 'Brazil', 'Paraguay'
                  'Bolivia', 'Uruguay', 'Bolivia', 'Colombia'
                  ])

In [ ]:
PAIS_Interes = confirmados.loc[
    confirmados['Country/Region'].isin(paises)].set_index('Country/Region')[fechas].T.copy()

dumm = PAIS_Interes

# Formato
dumm.plot(figsize=(6,7))
plt.legend(loc='upper left')
plt.title('Casos confirmados Coronavirus-19')
plt.xlabel('Fecha')
plt.ylabel('Cantidad de casos')
plt.text(f_inicio, 1, 'Dr Egidio Céspedes \nSAMU Viña del Mar',
         fontsize=10,color='gray', alpha=0.5)

# fecha de interés
f_fin = dt.datetime.now()
f_inicio = dt.datetime(2020,2,27)
plt.xlim(f_inicio, f_fin)


# escala logaritmica
# plt.yscale('log')
# plt.ylabel('Cantidad de casos en log')

## America

In [ ]:
paises_LA = list(['Argentina', 'Chile', 'Peru', 'Venezuela',
                  'Brazil', 'Mexico', 'Ecuador', 'Colombia',
                  'Bolivia', 'Cuba', 'Uruguay', 'Guatemala',
                  ])
paises = paises_LA

In [ ]:
PAIS_Interes = confirmados.loc[
    confirmados['Country/Region'].isin(paises)].set_index('Country/Region')[fechas].T.copy()

dumm = PAIS_Interes

# Formato
dumm.plot(figsize=(6,7))
plt.legend(loc='upper left')
plt.title('Casos confirmados Coronavirus-19')
plt.xlabel('Fecha')
plt.ylabel('Cantidad de casos')
plt.text(f_inicio, 1, 'Dr Egidio Céspedes \nSAMU Viña del Mar',
         fontsize=10,color='gray', alpha=0.5)

# fecha de interés
f_fin = dt.datetime.now()
f_inicio = dt.datetime(2020,2,27)
plt.xlim(f_inicio, f_fin)


# escala logaritmica
plt.yscale('log')
plt.ylabel('Cantidad de casos en log')

## Paises de interés

In [ ]:
paises = list(['Spain', 'Italy', 'Chile', 'Korea, South',
                       'Peru', 'Argentina', 'Germany', 'Brazil'
                      ])
db = confirmados.groupby('Country/Region')[fechas].sum().T

In [ ]:
PAIS_Interes = confirmados.loc[
    confirmados['Country/Region'].isin(paises)].set_index('Country/Region')[fechas].T.copy()
dumm = PAIS_Interes

# Formato
dumm.plot(figsize=(6,7))
plt.legend(loc='upper left')
plt.title('Casos confirmados Coronavirus-19')
plt.xlabel('Fecha')
plt.ylabel('Cantidad de casos')
plt.text(f_inicio, 1, 'Dr Egidio Céspedes \nSAMU Viña del Mar',
         fontsize=10,color='gray', alpha=0.5)

# fecha de interés
f_fin = dt.datetime.now()
f_inicio = dt.datetime(2020,2,27)
plt.xlim(f_inicio, f_fin)


# escala logaritmica
plt.yscale('log')
plt.ylabel('Cantidad de casos en log')

In [ ]:
# confirmados
confirmados.groupby('Country/Region').sum()[fechas].head()

# Como se esparce el virus en chile

In [ ]:
minsal.Comuna.value_counts()

hago un plot según riesgos de nelson Aalen para visualizar comportamiento

In [ ]:
minsal.Region.value_counts()
regiones = ['Maule', 'Metropolitana', 'Ñuble', 'Biobío']
casos = minsal.loc[minsal.Region == reg]['Conteo Region']

for reg in regiones:
    casos = minsal.loc[minsal.Region == reg]['Conteo Region'].dt.days
    naf = NelsonAalenFitter()
    naf.fit(casos, label = reg)#, event_observed=E)
    naf.plot(figsize=(6,7))
    # Formato
    plt.legend(loc='upper left')
    plt.title('Casos confirmados Coronavirus-19')
    plt.xlabel('Días aparicion primer caso regional')
    plt.ylabel('Cantidad de casos')
    plt.text(0,3, 'Dr Egidio Céspedes \nSAMU Viña del Mar',
         fontsize=10,color='gray', alpha=0.5)

trato de predecir como se comportará